<!-- accounts/login/ url과 연결된 템플릿 파일입니다. -->
<!-- 로그인 정보를 입력하는 폼과 홈으로 가는 <a>태그가 있습니다. -->

<div>
    <h1>Login</h1>

    <form action="{%url 'accounts:login' %}" method="POST">
        {% csrf_token %}

        <br>ID(이메일): <input type="text" name="username"><br>
        <br>PassWord: <input type="password" name="password"><br>

        {% if is_error %}
            <br><p>{{error_m}}</p>
        {% endif %}

        <br><input type="submit" value="login"><br>
    </form>
</div>

<a href="{% url 'base' %}">홈</a>